#app{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

h2{
    margin-bottom: 20px;
}

input[type="text"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 4px;
    border-color: #ccc;
}