#app{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

h2{
    margin-bottom: 20px;
}

input[type="text"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#tables-section,#menu-section{
    width: 40%;
}

#tables-container, #menu-container{
    border:1px solid #ccc;
    min-height: 500px;
}

.table-card,.menu-item{
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.table-card:hover, .menu-item:hover{
    background-color: #f1f1f1;
}